body {
  background: white;
  margin: 0;
  font-family:cursive;
}

* {
  border: 1px solid rgb(190, 190, 190);


}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.container2 {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
  margin: 0;
  border: none;
  padding: 0;
  background-color: transparent;
}

.a,
.h {
  flex-grow: 1;
  margin: 0.5em;
  background-color: rgb(207, 213, 219);
}

.group,
aside {
  width: 100%;
  flex-grow: 3;
  margin: 0;
  border: none;
  padding: 0;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  min-height: 20vh;
}

.b,.c,.d,.e,.f,.g{
  flex-grow: 10;
  margin: 0.5em;
  background-color: rgb(207, 213, 219);
}

@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    width: 100%;
  }

  .container2 {
    justify-content: stretch;
    flex-basis: 70%;
    min-height: 80vh;
  }

  .h {
    margin: 0.5em;
    flex-grow: 8;
    min-height: 80vh;
  }
}

.a,
.h {
  flex-grow: 1;
  margin: 0.5em;
  background-color: rgb(207, 213, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}

.e,
.f,
.g,
.b,
.c,
.d {
  flex-grow: 1;
  margin: 0.5em;
  background-color: rgb(207, 213, 219);
  display: flex;
  justify-content: center;
  align-items: center;
}
